body{
    background-color: black;
    font-family: 'VT323';
    color: white;
    font-size: x-large;
}

#header{
    width: 50%;
    margin: auto;
    padding-top: 1%;
    text-align: center;
}

#footer{
    width: 30%;
    margin: auto;
    padding-top: 1%;
    text-align: left;
}

.os_chs{
    width: 80%;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    border: 2px solid white;
}

a.os{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

table{
    width: 100%;
}
tr{
    width: 100%;
}

tr:hover{
    background-color: gray;
    color:black;
}